.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #fafafa;
	min-height: 30vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: rgb(15, 14, 14);
}

.App-Header-Right {
	float: right;
}

/* For Logo */
.Logo {
	float: left;
}

.App-link {
	color: #3707bd;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.Login-Title,
.SignUp-Title {
	text-align: center;
}

.container-login {
	background-color: rgb(173, 173, 173);
	border-radius: 15px;
	height: 50%;
	width: 50%;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.container-Sign_Up {
	background-color: rgb(173, 173, 173);
    border-radius: 15px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label-login,
.label-signUp {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.Sign-Up-LoginContainer {
	position: fixed;
	left: 50%;
	top: 80%;
	transform: translate(-50%, -50%);
}

.Submit-Login,
.Submit-SignUp {
	position: fixed;
	left: 50%;
	top: 110%;
	transform: translate(-50%, -50%);
}

/*Profile Page */

.content-ProfilePage {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 10px;
	max-width: 90%;
	margin: 100px auto 10px auto;
}

.FirstLastName-ProfilePage {
	grid-column: 1 / 13;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.Information-ProfilePage {
	grid-column: 6 / 13;
	grid-row: 2 / 4;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.Activities-ProfilePage {
	grid-column: 1 / 6;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.Section-ProfilePage {
	grid-column: 1 / 13;
	grid-row: 4 / 6;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.TopRecommendations-ProfilePage {
	grid-column: 1 / 6;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.menu-row {
	height: 10vh;
	display: flex;
	position: absolute;
	right: 5%;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

