body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.navigation-links {
  margin-left: auto;
}

.nav-link {
  text-decoration: none;
  margin: 10px;
  color: white;
  font-size: 14px;
  font-weight: lighter;
  cursor: pointer;
}

.nav-link:hover {
  transition: 200ms ease-in-out;
  color: lightgray;
}

.footer-nav-link {
  text-decoration: none;
  margin: 10px;
  color: darkslategrey;
}

.footer-nav-link:hover {
  transition: 200ms ease-in-out;
  color: lightgray;
}

#login-link {
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  padding: 8px 15px 8px 15px;
  font-size: 15px;
  font-weight: normal;
}

#login-link:hover {
  transition: 200ms ease-in-out;
  color: lightgray;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-navlink {
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  width: 150px;
}

.frontend-links, .backend-links, .fullstack-links {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-member-image {
  width: auto;
  height: 250px;
}

.preview-img {
  width: 150px;
  height: 150px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #4f25f7;
  border-bottom: 1px solid white;
  z-index: 1000;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.nav-img {
  width: 50px;
  height: 50px;
}

.navigation-icons {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 70px;
}

.hamburger-menu {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0px 20px 20px 20px;
  z-index: 1000;
}

.sidenav {
  background: #4f25f7 !important;
}

.filtered-search {
  margin: 100px 15px 50px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-button-search {
  position: relative;
  z-index: 900;
  display: flex;
  flex-direction: row;
}

input {
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.categories {
  position: absolute;
  top: 35px;
  z-index: 1;
  padding: 0;
  margin: 0;
  border: 1px solid black;
  border-radius: 2px;
  width: 100%;
  list-style-type: none;
  background: white;
}

.categories li {
  padding: 10px;
  cursor: pointer;
}

.categories li:hover {
  transition: 100ms ease-in;
  background: #4f25f7;
  color: white;
}

.product-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-submission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.product-submission div {
  width: 100%;
  margin: 10px;
}

.searchable-product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product-wrapper {
  display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    border: 1px solid black;
    border-radius: 2px;
    background: #4f25f7;
    width: 350px;
    height: 450px;
    margin: 10px;
}

.product-title-creator {
  display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.product-title {
  margin: 15px 15px 2px 15px;
  font-size: 18px;
}

.product-creator {
  margin: 2px 15px 5px 15px;
  font-size: 12px;
}

.product-price-rating-purchases {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
}

.price-rating-purchases {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 15px 15px 0px 15px;
}

.purchase-product-wrapper {
  margin-left: auto;
  margin-right: 15px;
}

.price-rating-purchases h5 {
  margin: 0;
}

.product-desc {
  width: 100%;
}

.product-image {
  height: 70%;
  width: 100%;
  object-fit: fill;
  border-radius: 2px;
}

.searchbar-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  height: 100%;
}

.search-input {
  width: 300px;
  padding: 9px 0px 9px 0px;
  border: 0;
}

.search-input::placeholder {
  padding-left: 10px;
}

.search-submit {
  background: #4f25f7;
  color: white;
  padding: 9px 12px 9px 12px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  height: 100%;
}

.dropdown-text {
  background: #4f25f7;
  color: white;
  padding: 9px 12px 9px 12px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  height: 100%;
}

.seller-settings-wrapper, .buyers-settings-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  background-color: white;
=======
  background: #c9bbff;
>>>>>>> 977ea56d0440cd109eda95bff01a73ccdd698048
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  height: 800px; 
}

.seller-selections, .buyers-selections {
  list-style-type: none;
  width: 30%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

<<<<<<< HEAD
.seller-selections li, .buyers-selections li, .sellerButton-Settings {
  color: white; 
  margin: 5px;
  width: 100px; 
  border: 1px solid black;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 8px 15px 8px 15px;
  border: 1px solid #cecece;
  background-color: #4f25f7;
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 20%);
  cursor: pointer;
  font-size: 14px;
=======
.seller-selections li, .buyers-selections li {
  color: white; 
  border-radius: 10px; 
  margin: 10px;
  padding: 10px;
  width: 200px; 
  border: 1px solid black;
  background-color:  #4f25f7;
  transition: transform 250ms;
}

.seller-selections li:hover , .buyers-selections li:hover {
  transform: translateY(-5px); 
  background-color:  #6d49fc;
>>>>>>> 977ea56d0440cd109eda95bff01a73ccdd698048
}



.seller-selection-area, .buyers-selection-area {
  width: 70%;
  height: 800px;
  border: 1px solid black;
  height: 800px;
  grid-template-rows: minmax(150px, auto); 
}

.buyerAccountSettings-wrapper, .sellerAccountSettings-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 5fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 5px;
  grid-auto-rows: 50px;
}

.TOS {
  background: white;
  border: 2px solid black;
  border-radius: 5px;
  overflow: auto;
  height: 400px;
  width: 90%;
}

.bottom-tos {
  margin-top: 5em;
  font-size: 0.7em;
}

.profile-wrapper {
  height: 100vh;
}

.settings-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-nav {
  width: 100%;
  height: 75px !important;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start !important;
  align-items: center;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.footer-navlinks {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.footer-social {
  margin-left: auto;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hamburger-react {
  position: absolute !important;
  right: 10px !important;
  top: 5px !important;
  color: white !important;
}

#sidenav-menu {
  width: 25vw;
  height: 92.5%;
  background-color: #4f25f7;
  position: fixed;
  bottom: 0;
  right: 0;
  transition: transform .3s cubic-bezier(0, .52, 0, 1);
  overflow: auto;
  z-index: 1000;
  box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 20%);
  border-left: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#sidenav-menu.hide {
  transform: translate3d(-25vw, 0, 0);
}

#sidenav-menu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

.checkout-button {
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  margin: 10px;
  padding: 8px 15px 8px 15px;
  font-size: 15px;
  font-weight: normal;
  cursor: pointer;
}

.receipt-wrapper, .summary-wrapper, .checkout-wrapper, .final-invoice-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.receipt-content, .checkout-content {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  margin: 100px 15px 15px 15px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #cecece;
  box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 20%);
  width: 50%;
}

.summary-content, .final-invoice-content {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  margin: 100px 15px 15px 15px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #cecece;
  box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 20%);
  width: 75%;
}

.user-receipt-info, .user-summary, .user-checkout, .user-final-invoice {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-receipt-info h4, .user-delivery-details h4, .checkout-details h4, .confirmation-details h4 {
  text-align: center;
  font-size: 16px;
}

.user-first-last-wrapper {
  display: inline-flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#user-firstName, #user-lastName {
  -webkit-appearance: none;
  width: 140px;
  margin: 10px;
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-bottom: 1px solid #cecece;
  color: #565656;
}

.user-phone-wrapper, .user-email-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#user-phone, #user-email {
  width: 300px;
  margin: 10px;
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-bottom: 1px solid #cecece;
  color: #565656;
}

.receive-product-options {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.user-delivery-details {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 10px 10px;
  padding: 0;
}

.user-dAddress-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#user-address {
  width: 200px;
  margin: 10px;
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-bottom: 1px solid #cecece;
  color: #565656;
}

#user-city {
  width: 80px;
  margin: 10px;
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-bottom: 1px solid #cecece;
  color: #565656;
}

#user-state {
  width: 110px;
  margin: 10px;
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-bottom: 1px solid #cecece;
  color: #565656;
}

#user-zip {
  width: 75px;
  margin: 10px;
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-bottom: 1px solid #cecece;
  color: #565656;
}

#user-unit {
  width: 75px;
  margin: 10px;
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-bottom: 1px solid #cecece;
  color: #565656;
}

.cancel-continue-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 25px;
}

.modify-order {
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 8px 15px 8px 15px;
  border: 1px solid #cecece;
  background-color: #4f25f7;
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 20%);
  cursor: pointer;
  font-size: 14px;
}

.continue-order {
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 8px 15px 8px 15px;
  border: 1px solid #cecece;
  background-color: #4f25f7;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin: 0;
  box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 20%);
}

.product-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

<<<<<<< HEAD

.buyerInput-Settings, .sellerInput-Settings {
=======
.product-detail-span {
  margin: 10px;
}

.checkout-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirmation-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.final-invoice-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.final-invoice-product-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  position: relative;
}

.checkout-experience {
  position: relative;
  height: 100vh;
}

/* seller input Bio Description */

.sellerProfileSettings-Inputs {
  border: none; 
  -webkit-appearance: none;
  -ms-appearance: none; 
  -moz-appearance: none; 
  appearance: none;
  background: rgb(226, 222, 222);
  padding: 10px; 
  border-radius: 3px; 
  outline: none; 
}

.sellerProfileSettings-Inputs-field_one {
  position: relative; 
  font-size: 14px; 
  padding-top: 20px; 
  margin-bottom: 5px; 
}

.sellerProfileSettings-Inputs:focus::placeholder {
  color: transparent; 
}

.sellerProfileSettings-Inputs::placeholder {
  color: rgb(55, 55, 58); 
  transition: color 0.3s ease; 
}

.sellerProfileSettings-Inputs-field_one .sellerProfileSettings-Inputs_placeholder_one {
  position: absolute; 
  left: 12px; 
  top: 50%; 
  top: calc(50% + 10px);
  transform: translateY(-50%); 
  color: #aaa; 
  transition: 
      top 0.3s ease, 
      font-size 0.3s ease, 
      color 0.3s ease, 
}

.sellerProfileSettings-Inputs-field_one .sellerProfileSettings-Inputs:focus + .sellerProfileSettings-Inputs_placeholder_one {
  top: 10px; 
  font-size: 10px; 
  color: #222; 
}

.sellerProfileSettings-Inputs-field_one .sellerProfileSettings-Inputs {
  border: 2px solid rgb(197, 197, 197); 
  transition: border-color 0.3s ease; 
}

.sellerProfileSettings-Inputs-field_one .sellerProfileSettings-Inputs:valid, .sellerProfileSettings-Inputs-field_one .sellerProfileSettings-Inputs:focus {
  border-color: #222; 
  transition-delay: 0.1s; 
}

.sellerProfileSettings-Inputs-field_one .sellerProfileSettings-Inputs:valid + .sellerProfileSettings-Inputs_placeholder_one, .sellerProfileSettings-Inputs-field_one .sellerProfileSettings-Inputs:focus + .sellerProfileSettings-Inputs_placeholder_one {
  top: px; 
  background:  rgb(226, 222, 222); 
}

.sellerProfileSettings-Inputs-field_one .sellerProfileSettings-Inputs + .sellerProfileSettings-Inputs_placeholder_one {
  padding: 0 5px; 
}


/* seller input Location */

.sellerProfileSettings-Inputs {
  border: none; 
  -webkit-appearance: none;
  -ms-appearance: none; 
  -moz-appearance: none; 
  appearance: none;
  background: rgb(226, 222, 222);
  padding: 10px; 
  border-radius: 3px; 
  outline: none; 
}

.sellerProfileSettings-Inputs-field_two {
  position: relative; 
  font-size: 14px; 
  padding-top: 20px; 
  margin-bottom: 5px; 
}

.sellerProfileSettings-Inputs:focus::placeholder {
  color: transparent; 
}

.sellerProfileSettings-Inputs::placeholder {
  color: rgb(55, 55, 58); 
  transition: color 0.3s ease; 
}

.sellerProfileSettings-Inputs-field_two .sellerProfileSettings-Inputs_placeholder_two {
  position: absolute; 
  left: 12px; 
  top: 50%; 
  top: calc(50% + 10px);
  transform: translateY(-50%); 
  color: #aaa; 
  transition: 
      top 0.3s ease, 
      font-size 0.3s ease, 
      color 0.3s ease, 
}

.sellerProfileSettings-Inputs-field_two .sellerProfileSettings-Inputs:focus + .sellerProfileSettings-Inputs_placeholder_two {
  top: 10px; 
  font-size: 10px; 
  color: #222; 
}

.sellerProfileSettings-Inputs-field_two .sellerProfileSettings-Inputs {
  border: 2px solid rgb(197, 197, 197); 
  transition: border-color 0.3s ease; 
}

.sellerProfileSettings-Inputs-field_two .sellerProfileSettings-Inputs:valid, .sellerProfileSettings-Inputs-field_two .sellerProfileSettings-Inputs:focus {
  border-color: #222; 
  transition-delay: 0.1s; 
}

.sellerProfileSettings-Inputs-field_two .sellerProfileSettings-Inputs:valid + .sellerProfileSettings-Inputs_placeholder_two, .sellerProfileSettings-Inputs-field_two .sellerProfileSettings-Inputs:focus + .sellerProfileSettings-Inputs_placeholder_two {
  top: px; 
  background:  rgb(226, 222, 222); 
}

.sellerProfileSettings-Inputs-field_two .sellerProfileSettings-Inputs + .sellerProfileSettings-Inputs_placeholder_two {
  padding: 0 5px; 
}


/* seller input Social Media */
.sellerProfileSettings-Inputs {
  border: none; 
  -webkit-appearance: none;
  -ms-appearance: none; 
  -moz-appearance: none; 
  appearance: none;
  background: rgb(226, 222, 222);
  padding: 10px; 
  border-radius: 3px; 
  outline: none; 
}

.sellerProfileSettings-Inputs-field_three {
  position: relative; 
  font-size: 14px; 
  padding-top: 20px; 
  margin-bottom: 5px; 
}

.sellerProfileSettings-Inputs:focus::placeholder {
  color: transparent; 
}

.sellerProfileSettings-Inputs::placeholder {
  color: rgb(55, 55, 58); 
  transition: color 0.3s ease; 
}

.sellerProfileSettings-Inputs-field_three .sellerProfileSettings-Inputs_placeholder_three {
  position: absolute; 
  left: 12px; 
  top: 50%; 
  top: calc(50% + 10px);
  transform: translateY(-50%); 
  color: #aaa; 
  transition: 
      top 0.3s ease, 
      font-size 0.3s ease, 
      color 0.3s ease, 
}

.sellerProfileSettings-Inputs-field_three .sellerProfileSettings-Inputs:focus + .sellerProfileSettings-Inputs_placeholder_three {
  top: 10px; 
  font-size: 10px; 
  color: #222; 
}

.sellerProfileSettings-Inputs-field_three .sellerProfileSettings-Inputs {
  border: 2px solid rgb(197, 197, 197); 
  transition: border-color 0.3s ease; 
}

.sellerProfileSettings-Inputs-field_three .sellerProfileSettings-Inputs:valid, .sellerProfileSettings-Inputs-field_three .sellerProfileSettings-Inputs:focus {
  border-color: #222; 
  transition-delay: 0.1s; 
}

.sellerProfileSettings-Inputs-field_three .sellerProfileSettings-Inputs:valid + .sellerProfileSettings-Inputs_placeholder_three, .sellerProfileSettings-Inputs-field_three .sellerProfileSettings-Inputs:focus + .sellerProfileSettings-Inputs_placeholder_three {
  top: px; 
  background:  rgb(226, 222, 222); 
}

.sellerProfileSettings-Inputs-field_three .sellerProfileSettings-Inputs + .sellerProfileSettings-Inputs_placeholder_three {
  padding: 0 5px; 
}


/*seller input firstName*/

.sellerAccountSettings-Inputs {
  border: none; 
  -webkit-appearance: none;
  -ms-appearance: none; 
  -moz-appearance: none; 
  appearance: none;
  background: rgb(226, 222, 222);
  padding: 10px; 
  border-radius: 3px; 
  outline: none; 
}

.sellerAccountSettings-Inputs-field_one {
  position: relative; 
  font-size: 14px; 
  padding-top: 20px; 
  margin-bottom: 5px; 
}

.sellerAccountSettings-Inputs:focus::placeholder {
  color: transparent; 
}

.sellerAccountSettings-Inputs::placeholder {
  color: rgb(55, 55, 58); 
  transition: color 0.3s ease; 
}

.sellerAccountSettings-Inputs-field_one .sellerAccount-Inputs_placeholder_one {
  position: absolute; 
  left: 12px; 
  top: 50%; 
  top: calc(50% + 10px);
  transform: translateY(-50%); 
  color: #aaa; 
  transition: 
      top 0.3s ease, 
      font-size 0.3s ease, 
      color 0.3s ease, 
}

.sellerAccountSettings-Inputs-field_one .sellerAccountSettings-Inputs:focus + .sellerAccount-Inputs_placeholder_one {
  top: 10px; 
  font-size: 10px; 
  color: #222; 
}

.sellerAccountSettings-Inputs-field_one .sellerAccountSettings-Inputs {
  border: 2px solid rgb(197, 197, 197); 
  transition: border-color 0.3s ease; 
}

.sellerAccountSettings-Inputs-field_one .sellerAccountSettings-Inputs:valid, .sellerAccountSettings-Inputs-field_one .sellerAccountSettings-Inputs:focus {
  border-color: #222; 
  transition-delay: 0.1s; 
}

.sellerAccountSettings-Inputs-field_one .sellerAccountSettings-Inputs:valid + .sellerAccount-Inputs_placeholder_one , .sellerAccountSettings-Inputs-field_one .sellerAccountSettings-Inputs:focus + .sellerAccount-Inputs_placeholder_one {
  top: px; 
  background:  rgb(226, 222, 222); 
}

.sellerAccountSettings-Inputs-field_one .sellerAccountSettings-Inputs + .sellerAccount-Inputs_placeholder_one {
  padding: 0 5px; 
}


/*seller input lastName*/
.sellerAccountSettings-Inputs {
  border: none; 
  -webkit-appearance: none;
  -ms-appearance: none; 
  -moz-appearance: none; 
  appearance: none;
  background: rgb(226, 222, 222);
  padding: 10px; 
  border-radius: 3px; 
  outline: none; 
}

.sellerAccountSettings-Inputs-field_two {
  position: relative; 
  font-size: 14px; 
  padding-top: 20px; 
  margin-bottom: 5px; 
}

.sellerAccountSettings-Inputs:focus::placeholder {
  color: transparent; 
}

.sellerAccountSettings-Inputs::placeholder {
  color: rgb(55, 55, 58); 
  transition: color 0.3s ease; 
}

.sellerAccountSettings-Inputs-field_two .sellerAccount-Inputs_placeholder_two {
  position: absolute; 
  left: 12px; 
  top: 50%; 
  top: calc(50% + 10px);
  transform: translateY(-50%); 
  color: #aaa; 
  transition: 
      top 0.3s ease, 
      font-size 0.3s ease, 
      color 0.3s ease, 
}

.sellerAccountSettings-Inputs-field_two .sellerAccountSettings-Inputs:focus + .sellerAccount-Inputs_placeholder_two {
  top: 10px; 
  font-size: 10px; 
  color: #222; 
}

.sellerAccountSettings-Inputs-field_two .sellerAccountSettings-Inputs {
  border: 2px solid rgb(197, 197, 197); 
  transition: border-color 0.3s ease; 
}

.sellerAccountSettings-Inputs-field_two .sellerAccountSettings-Inputs:valid, .sellerAccountSettings-Inputs-field_two .sellerAccountSettings-Inputs:focus {
  border-color: #222; 
  transition-delay: 0.1s; 
}

.sellerAccountSettings-Inputs-field_two .sellerAccountSettings-Inputs:valid + .sellerAccount-Inputs_placeholder_two , .sellerAccountSettings-Inputs-field_two .sellerAccountSettings-Inputs:focus + .sellerAccount-Inputs_placeholder_two {
  top: px; 
  background:  rgb(226, 222, 222); 
}

.sellerAccountSettings-Inputs-field_two .sellerAccountSettings-Inputs + .sellerAccount-Inputs_placeholder_two {
  padding: 0 5px; 
}

/*seller input Birthday*/
.sellerAccountSettings-Inputs {
  border: none; 
  -webkit-appearance: none;
  -ms-appearance: none; 
  -moz-appearance: none; 
  appearance: none;
  background: rgb(226, 222, 222);
  padding: 10px; 
  border-radius: 3px; 
  outline: none; 
}

.sellerAccountSettings-Inputs-field_three {
  position: relative; 
  font-size: 14px; 
  padding-top: 20px; 
  margin-bottom: 5px; 
}

.sellerAccountSettings-Inputs:focus::placeholder {
  color: transparent; 
}

.sellerAccountSettings-Inputs::placeholder {
  color: rgb(55, 55, 58); 
  transition: color 0.3s ease; 
}

.sellerAccountSettings-Inputs-field_three .sellerAccount-Inputs_placeholder_three {
  position: absolute; 
  left: 12px; 
  top: 50%; 
  top: calc(50% + 10px);
  transform: translateY(-50%); 
  color: #aaa; 
  transition: 
      top 0.3s ease, 
      font-size 0.3s ease, 
      color 0.3s ease, 
}

.sellerAccountSettings-Inputs-field_three .sellerAccountSettings-Inputs:focus + .sellerAccount-Inputs_placeholder_three {
  top: 10px; 
  font-size: 10px; 
  color: #222; 
}

.sellerAccountSettings-Inputs-field_three .sellerAccountSettings-Inputs {
  border: 2px solid rgb(197, 197, 197); 
  transition: border-color 0.3s ease; 
}

.sellerAccountSettings-Inputs-field_three .sellerAccountSettings-Inputs:valid, .sellerAccountSettings-Inputs-field_three .sellerAccountSettings-Inputs:focus {
  border-color: #222; 
  transition-delay: 0.1s; 
}

.sellerAccountSettings-Inputs-field_three .sellerAccountSettings-Inputs:valid + .sellerAccount-Inputs_placeholder_three , .sellerAccountSettings-Inputs-field_three .sellerAccountSettings-Inputs:focus + .sellerAccount-Inputs_placeholder_three {
  top: px; 
  background:  rgb(226, 222, 222); 
}

.sellerAccountSettings-Inputs-field_three .sellerAccountSettings-Inputs + .sellerAccount-Inputs_placeholder_three {
  padding: 0 5px; 
}

/*seller input Email*/
.sellerAccountSettings-Inputs {
  border: none; 
  -webkit-appearance: none;
  -ms-appearance: none; 
  -moz-appearance: none; 
  appearance: none;
  background: rgb(226, 222, 222);
  padding: 10px; 
  border-radius: 3px; 
  outline: none; 
}

.sellerAccountSettings-Inputs-field_four {
  position: relative; 
  font-size: 14px; 
  padding-top: 20px; 
  margin-bottom: 5px; 
}

.sellerAccountSettings-Inputs:focus::placeholder {
  color: transparent; 
}

.sellerAccountSettings-Inputs::placeholder {
  color: rgb(55, 55, 58); 
  transition: color 0.3s ease; 
}

.sellerAccountSettings-Inputs-field_four .sellerAccount-Inputs_placeholder_four {
  position: absolute; 
  left: 12px; 
  top: 50%; 
  top: calc(50% + 10px);
  transform: translateY(-50%); 
  color: #aaa; 
  transition: 
      top 0.3s ease, 
      font-size 0.3s ease, 
      color 0.3s ease, 
}

.sellerAccountSettings-Inputs-field_four .sellerAccountSettings-Inputs:focus + .sellerAccount-Inputs_placeholder_four {
  top: 10px; 
  font-size: 10px; 
  color: #222; 
}

.sellerAccountSettings-Inputs-field_four .sellerAccountSettings-Inputs {
  border: 2px solid rgb(197, 197, 197); 
  transition: border-color 0.3s ease; 
}

.sellerAccountSettings-Inputs-field_four .sellerAccountSettings-Inputs:valid, .sellerAccountSettings-Inputs-field_four .sellerAccountSettings-Inputs:focus {
  border-color: #222; 
  transition-delay: 0.1s; 
}

.sellerAccountSettings-Inputs-field_four .sellerAccountSettings-Inputs:valid + .sellerAccount-Inputs_placeholder_four , .sellerAccountSettings-Inputs-field_four .sellerAccountSettings-Inputs:focus + .sellerAccount-Inputs_placeholder_four {
  top: px; 
  background:  rgb(226, 222, 222); 
}

.sellerAccountSettings-Inputs-field_four .sellerAccountSettings-Inputs + .sellerAccount-Inputs_placeholder_four {
  padding: 0 5px; 
}

/*seller input Phone*/
.sellerAccountSettings-Inputs {
  border: none; 
  -webkit-appearance: none;
  -ms-appearance: none; 
  -moz-appearance: none; 
  appearance: none;
  background: rgb(226, 222, 222);
  padding: 10px; 
  border-radius: 3px; 
  outline: none; 
}

.sellerAccountSettings-Inputs-field_five {
  position: relative; 
  font-size: 14px; 
  padding-top: 20px; 
  margin-bottom: 5px; 
}

.sellerAccountSettings-Inputs:focus::placeholder {
  color: transparent; 
}

.sellerAccountSettings-Inputs::placeholder {
  color: rgb(55, 55, 58); 
  transition: color 0.3s ease; 
}

.sellerAccountSettings-Inputs-field_five .sellerAccount-Inputs_placeholder_five {
  position: absolute; 
  left: 12px; 
  top: 50%; 
  top: calc(50% + 10px);
  transform: translateY(-50%); 
  color: #aaa; 
  transition: 
      top 0.3s ease, 
      font-size 0.3s ease, 
      color 0.3s ease, 
}

.sellerAccountSettings-Inputs-field_five .sellerAccountSettings-Inputs:focus + .sellerAccount-Inputs_placeholder_five {
  top: 10px; 
  font-size: 10px; 
  color: #222; 
}

.sellerAccountSettings-Inputs-field_five .sellerAccountSettings-Inputs {
  border: 2px solid rgb(197, 197, 197); 
  transition: border-color 0.3s ease; 
}

.sellerAccountSettings-Inputs-field_five .sellerAccountSettings-Inputs:valid, .sellerAccountSettings-Inputs-field_five .sellerAccountSettings-Inputs:focus {
  border-color: #222; 
  transition-delay: 0.1s; 
}

.sellerAccountSettings-Inputs-field_five .sellerAccountSettings-Inputs:valid + .sellerAccount-Inputs_placeholder_five , .sellerAccountSettings-Inputs-field_five .sellerAccountSettings-Inputs:focus + .sellerAccount-Inputs_placeholder_five {
  top: px; 
  background:  rgb(226, 222, 222); 
}

.sellerAccountSettings-Inputs-field_five .sellerAccountSettings-Inputs + .sellerAccount-Inputs_placeholder_five {
  padding: 0 5px; 
}

/*seller input UserName*/
.sellerAccountSettings-Inputs {
  border: none; 
  -webkit-appearance: none;
  -ms-appearance: none; 
  -moz-appearance: none; 
  appearance: none;
  background: rgb(226, 222, 222);
  padding: 10px; 
  border-radius: 3px; 
  outline: none; 
}

.sellerAccountSettings-Inputs-field_six {
  position: relative; 
  font-size: 14px; 
  padding-top: 20px; 
  margin-bottom: 5px; 
}

.sellerAccountSettings-Inputs:focus::placeholder {
  color: transparent; 
}

.sellerAccountSettings-Inputs::placeholder {
  color: rgb(55, 55, 58); 
  transition: color 0.3s ease; 
}

.sellerAccountSettings-Inputs-field_six .sellerAccount-Inputs_placeholder_six {
  position: absolute; 
  left: 12px; 
  top: 50%; 
  top: calc(50% + 10px);
  transform: translateY(-50%); 
  color: #aaa; 
  transition: 
      top 0.3s ease, 
      font-size 0.3s ease, 
      color 0.3s ease, 
}

.sellerAccountSettings-Inputs-field_six .sellerAccountSettings-Inputs:focus + .sellerAccount-Inputs_placeholder_six {
  top: 10px; 
  font-size: 10px; 
  color: #222; 
}

.sellerAccountSettings-Inputs-field_six .sellerAccountSettings-Inputs {
  border: 2px solid rgb(197, 197, 197); 
  transition: border-color 0.3s ease; 
}

.sellerAccountSettings-Inputs-field_six .sellerAccountSettings-Inputs:valid, .sellerAccountSettings-Inputs-field_six .sellerAccountSettings-Inputs:focus {
  border-color: #222; 
  transition-delay: 0.1s; 
}

.sellerAccountSettings-Inputs-field_six .sellerAccountSettings-Inputs:valid + .sellerAccount-Inputs_placeholder_six , .sellerAccountSettings-Inputs-field_six .sellerAccountSettings-Inputs:focus + .sellerAccount-Inputs_placeholder_six {
  top: px; 
  background:  rgb(226, 222, 222); 
}

.sellerAccountSettings-Inputs-field_six .sellerAccountSettings-Inputs + .sellerAccount-Inputs_placeholder_six {
  padding: 0 5px; 
}

/*seller input Password*/
.sellerAccountSettings-Inputs {
  border: none; 
  -webkit-appearance: none;
  -ms-appearance: none; 
  -moz-appearance: none; 
  appearance: none;
  background: rgb(226, 222, 222);
  padding: 10px; 
  border-radius: 3px; 
  outline: none; 
}

.sellerAccountSettings-Inputs-field_seven {
  position: relative; 
  font-size: 14px; 
  padding-top: 20px; 
  margin-bottom: 5px; 
}

.sellerAccountSettings-Inputs:focus::placeholder {
  color: transparent; 
}

.sellerAccountSettings-Inputs::placeholder {
  color: rgb(55, 55, 58); 
  transition: color 0.3s ease; 
}

.sellerAccountSettings-Inputs-field_seven .sellerAccount-Inputs_placeholder_seven {
  position: absolute; 
  left: 12px; 
  top: 50%; 
  top: calc(50% + 10px);
  transform: translateY(-50%); 
  color: #aaa; 
  transition: 
      top 0.3s ease, 
      font-size 0.3s ease, 
      color 0.3s ease, 
}

.sellerAccountSettings-Inputs-field_seven .sellerAccountSettings-Inputs:focus + .sellerAccount-Inputs_placeholder_seven {
  top: 10px; 
  font-size: 10px; 
  color: #222; 
}

.sellerAccountSettings-Inputs-field_seven .sellerAccountSettings-Inputs {
  border: 2px solid rgb(197, 197, 197); 
  transition: border-color 0.3s ease; 
}

.sellerAccountSettings-Inputs-field_seven .sellerAccountSettings-Inputs:valid, .sellerAccountSettings-Inputs-field_seven .sellerAccountSettings-Inputs:focus {
  border-color: #222; 
  transition-delay: 0.1s; 
}

.sellerAccountSettings-Inputs-field_seven .sellerAccountSettings-Inputs:valid + .sellerAccount-Inputs_placeholder_seven , .sellerAccountSettings-Inputs-field_seven .sellerAccountSettings-Inputs:focus + .sellerAccount-Inputs_placeholder_seven {
  top: px; 
  background:  rgb(226, 222, 222); 
}

.sellerAccountSettings-Inputs-field_seven .sellerAccountSettings-Inputs + .sellerAccount-Inputs_placeholder_seven {
  padding: 0 5px; 
}

/*seller input Card Number*/
.sellerAccountSettings-Inputs {
  border: none; 
  -webkit-appearance: none;
  -ms-appearance: none; 
  -moz-appearance: none; 
  appearance: none;
  background: rgb(226, 222, 222);
  padding: 10px; 
  border-radius: 3px; 
  outline: none; 
}

.sellerAccountSettings-Inputs-field_eight {
  position: relative; 
  font-size: 14px; 
  padding-top: 20px; 
  margin-bottom: 5px; 
}

.sellerAccountSettings-Inputs:focus::placeholder {
  color: transparent; 
}

.sellerAccountSettings-Inputs::placeholder {
  color: rgb(55, 55, 58); 
  transition: color 0.3s ease; 
}

.sellerAccountSettings-Inputs-field_eight .sellerAccount-Inputs_placeholder_eight {
  position: absolute; 
  left: 12px; 
  top: 50%; 
  top: calc(50% + 10px);
  transform: translateY(-50%); 
  color: #aaa; 
  transition: 
      top 0.3s ease, 
      font-size 0.3s ease, 
      color 0.3s ease, 
}

.sellerAccountSettings-Inputs-field_eight .sellerAccountSettings-Inputs:focus + .sellerAccount-Inputs_placeholder_eight {
  top: 10px; 
  font-size: 10px; 
  color: #222; 
}

.sellerAccountSettings-Inputs-field_eight .sellerAccountSettings-Inputs {
  border: 2px solid rgb(197, 197, 197); 
  transition: border-color 0.3s ease; 
}

.sellerAccountSettings-Inputs-field_eight .sellerAccountSettings-Inputs:valid, .sellerAccountSettings-Inputs-field_eight .sellerAccountSettings-Inputs:focus {
  border-color: #222; 
  transition-delay: 0.1s; 
}

.sellerAccountSettings-Inputs-field_eight .sellerAccountSettings-Inputs:valid + .sellerAccount-Inputs_placeholder_eight , .sellerAccountSettings-Inputs-field_eight .sellerAccountSettings-Inputs:focus + .sellerAccount-Inputs_placeholder_eight {
  top: px; 
  background:  rgb(226, 222, 222); 
}

.sellerAccountSettings-Inputs-field_eight .sellerAccountSettings-Inputs + .sellerAccount-Inputs_placeholder_eight {
  padding: 0 5px; 
}

/*seller input Expiration Date */
.sellerAccountSettings-Inputs {
  border: none; 
  -webkit-appearance: none;
  -ms-appearance: none; 
  -moz-appearance: none; 
  appearance: none;
  background: rgb(226, 222, 222);
  padding: 10px; 
  border-radius: 3px; 
  outline: none; 
}

.sellerAccountSettings-Inputs-field_nine {
  position: relative; 
  font-size: 14px; 
  padding-top: 20px; 
  margin-bottom: 5px; 
}

.sellerAccountSettings-Inputs:focus::placeholder {
  color: transparent; 
}

.sellerAccountSettings-Inputs::placeholder {
  color: rgb(55, 55, 58); 
  transition: color 0.3s ease; 
}

.sellerAccountSettings-Inputs-field_nine .sellerAccount-Inputs_placeholder_nine {
  position: absolute; 
  left: 12px; 
  top: 50%; 
  top: calc(50% + 10px);
  transform: translateY(-50%); 
  color: #aaa; 
  transition: 
      top 0.3s ease, 
      font-size 0.3s ease, 
      color 0.3s ease, 
}

.sellerAccountSettings-Inputs-field_nine .sellerAccountSettings-Inputs:focus + .sellerAccount-Inputs_placeholder_nine {
  top: 10px; 
  font-size: 10px; 
  color: #222; 
}

.sellerAccountSettings-Inputs-field_nine .sellerAccountSettings-Inputs {
  border: 2px solid rgb(197, 197, 197); 
  transition: border-color 0.3s ease; 
}

.sellerAccountSettings-Inputs-field_nine .sellerAccountSettings-Inputs:valid, .sellerAccountSettings-Inputs-field_nine .sellerAccountSettings-Inputs:focus {
  border-color: #222; 
  transition-delay: 0.1s; 
}

.sellerAccountSettings-Inputs-field_nine .sellerAccountSettings-Inputs:valid + .sellerAccount-Inputs_placeholder_nine , .sellerAccountSettings-Inputs-field_nine .sellerAccountSettings-Inputs:focus + .sellerAccount-Inputs_placeholder_nine {
  top: px; 
  background:  rgb(226, 222, 222); 
}

.sellerAccountSettings-Inputs-field_nine .sellerAccountSettings-Inputs + .sellerAccount-Inputs_placeholder_nine {
  padding: 0 5px; 
}

/*seller input CVV*/
.sellerAccountSettings-Inputs {
  border: none; 
  -webkit-appearance: none;
  -ms-appearance: none; 
  -moz-appearance: none; 
  appearance: none;
  background: rgb(226, 222, 222);
  padding: 10px; 
  border-radius: 3px; 
  outline: none; 
}

.sellerAccountSettings-Inputs-field_ten {
  position: relative; 
  font-size: 14px; 
  padding-top: 20px; 
  margin-bottom: 5px; 
}

.sellerAccountSettings-Inputs:focus::placeholder {
  color: transparent; 
}

.sellerAccountSettings-Inputs::placeholder {
  color: rgb(55, 55, 58); 
  transition: color 0.3s ease; 
}

.sellerAccountSettings-Inputs-field_ten .sellerAccount-Inputs_placeholder_ten {
  position: absolute; 
  left: 12px; 
  top: 50%; 
  top: calc(50% + 10px);
  transform: translateY(-50%); 
  color: #aaa; 
  transition: 
      top 0.3s ease, 
      font-size 0.3s ease, 
      color 0.3s ease, 
}

.sellerAccountSettings-Inputs-field_ten .sellerAccountSettings-Inputs:focus + .sellerAccount-Inputs_placeholder_ten {
  top: 10px; 
  font-size: 10px; 
  color: #222; 
}

.sellerAccountSettings-Inputs-field_ten .sellerAccountSettings-Inputs {
  border: 2px solid rgb(197, 197, 197); 
  transition: border-color 0.3s ease; 
}

.sellerAccountSettings-Inputs-field_ten .sellerAccountSettings-Inputs:valid, .sellerAccountSettings-Inputs-field_ten .sellerAccountSettings-Inputs:focus {
  border-color: #222; 
  transition-delay: 0.1s; 
}

.sellerAccountSettings-Inputs-field_ten .sellerAccountSettings-Inputs:valid + .sellerAccount-Inputs_placeholder_ten , .sellerAccountSettings-Inputs-field_ten .sellerAccountSettings-Inputs:focus + .sellerAccount-Inputs_placeholder_ten {
  top: px; 
  background:  rgb(226, 222, 222); 
}

.sellerAccountSettings-Inputs-field_ten .sellerAccountSettings-Inputs + .sellerAccount-Inputs_placeholder_ten {
  padding: 0 5px; 
}

/*seller input Postal Code*/

.sellerAccountSettings-Inputs {
  border: none; 
  -webkit-appearance: none;
  -ms-appearance: none; 
  -moz-appearance: none; 
  appearance: none;
  background: rgb(226, 222, 222);
  padding: 10px; 
  border-radius: 3px; 
  outline: none; 
}

.sellerAccountSettings-Inputs-field_eleven {
  position: relative; 
  font-size: 14px; 
  padding-top: 20px; 
  margin-bottom: 5px; 
}

.sellerAccountSettings-Inputs:focus::placeholder {
  color: transparent; 
}

.sellerAccountSettings-Inputs::placeholder {
  color: rgb(55, 55, 58); 
  transition: color 0.3s ease; 
}

.sellerAccountSettings-Inputs-field_eleven .sellerAccount-Inputs_placeholder_eleven {
  position: absolute; 
  left: 12px; 
  top: 50%; 
  top: calc(50% + 10px);
  transform: translateY(-50%); 
  color: #aaa; 
  transition: 
      top 0.3s ease, 
      font-size 0.3s ease, 
      color 0.3s ease, 
}

.sellerAccountSettings-Inputs-field_eleven .sellerAccountSettings-Inputs:focus + .sellerAccount-Inputs_placeholder_eleven {
  top: 10px; 
  font-size: 10px; 
  color: #222; 
}

.sellerAccountSettings-Inputs-field_eleven .sellerAccountSettings-Inputs {
  border: 2px solid rgb(197, 197, 197); 
  transition: border-color 0.3s ease; 
}

.sellerAccountSettings-Inputs-field_eleven .sellerAccountSettings-Inputs:valid, .sellerAccountSettings-Inputs-field_eleven .sellerAccountSettings-Inputs:focus {
  border-color: #222; 
  transition-delay: 0.1s; 
}

.sellerAccountSettings-Inputs-field_eleven .sellerAccountSettings-Inputs:valid + .sellerAccount-Inputs_placeholder_eleven , .sellerAccountSettings-Inputs-field_eleven .sellerAccountSettings-Inputs:focus + .sellerAccount-Inputs_placeholder_eleven {
  top: px; 
  background:  rgb(226, 222, 222); 
}

.sellerAccountSettings-Inputs-field_eleven .sellerAccountSettings-Inputs + .sellerAccount-Inputs_placeholder_eleven {
  padding: 0 5px; 
}

.buyerInput-Settings {
>>>>>>> 977ea56d0440cd109eda95bff01a73ccdd698048
  -webkit-appearance: none;
  width: 140px;
  margin: 10px;
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-bottom: 1px solid #cecece;
  color: #565656;
  outline: none;
}
<<<<<<< HEAD

=======
>>>>>>> 977ea56d0440cd109eda95bff01a73ccdd698048
