html {
  width: 100%;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  width: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media screen and (min-width: 320px) {

  .input-button-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 20%);
    border-radius: 5px;
    width: 90%;
  }

  .searchbar-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 20%);
    height: 100%;
    width: 100%;
  }

  .product-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    border-radius: 2px;
    background: #4f25f7;
    width: 400px;
    height: 450px;
    margin: 10px;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  }

  .product-wrapper:hover {
	  transition: 200ms ease-in-out;
	  border: 4px solid white; 
  }

  .shopping-cart-products {
	  width: 100%;
  }

  .shopping-cart-products-ul {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  padding: 0;
	  margin: 10px 5px 10px 5px;
	  list-style-type: none;
  }

  .shopping-cart-products-ul li {
	  display: inline-flex;
	  flex-direction: row;
	  justify-content: flex-start;
	  align-items: center;
	  width: 100%;
	  color: white;
  }

  .checkout-product-quantity-title {
	  display: inline-flex;
	  flex-direction: row;
	  flex-wrap: none;
	  justify-content: center;
	  align-items: center;
  }

  .checkout-product-price {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: none;
	justify-content: center;
	align-items: center;
	margin-left: auto;
  }

  .shopping-cart-products-summary, .shopping-cart-products-final-invoice {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  flex-wrap: nowrap;
	  width: 95%;
	  list-style-type: none;
	  padding: 0;
  }

  .shopping-cart-products-summary li {
	  display: inline-flex;
	  flex-direction: row;
	  flex-wrap: nowrap;
	  justify-content: center;
	  align-items: center;
  }

  .product-image-summary {
	height: 50%;
    width: 50%;
    object-fit: fill;
  }
}

@media screen and (min-width: 500px) {

  .input-button-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 20%);
    border-radius: 5px;
    width: 70%;
  }
}

@media screen and (min-width: 768px) {

  .input-button-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 20%);
    border-radius: 5px;
    width: 60%;
  }
}

@media screen and (min-width: 1280px) {

  .input-button-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 20%);
    border-radius: 5px;
    width: 30%;
    max-width: 500px;
  }
}

.navigation {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.navigation-links {
	margin-left: auto;
}

.nav-link {
	text-decoration: none;
	margin: 10px;
	color: white;
	font-size: 14px;
	font-weight: lighter;
	cursor: pointer;
}

.nav-link:hover {
	transition: 200ms ease-in-out;
	color: lightgray;
}

.footer-nav-link {
	text-decoration: none;
	margin: 10px;
	color: darkslategrey;
}

.footer-nav-link:hover {
	transition: 200ms ease-in-out;
	color: lightgray;
}

#login-link {
	border: 1px solid white;
	border-radius: 3px;
	color: white;
	padding: 8px 15px 8px 15px;
	font-size: 15px;
	font-weight: normal;
}

#login-link:hover {
	transition: 200ms ease-in-out;
	color: lightgray;
}

.about-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-top: 100px;
}

.contact-wrapper {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
}

.about-navlink {
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
	width: 150px;
}

.frontend-links,
.backend-links {
	margin: 10px;
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.fullstack-links {
	margin: 10px 10px 240px 10px;
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.home-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.team-member {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.team-member-image {
	width: auto;
	height: 250px;
}

.preview-img {
	width: 150px;
	height: 150px;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	background: #4f25f7;
	border-bottom: 1px solid white;
	z-index: 1000;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.nav-img {
	width: 50px;
	height: 50px;
}

.navigation-icons {
	margin-left: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-right: 70px;
}

.hamburger-menu {
	position: fixed;
	top: 0;
	right: 0;
	margin: 0px 20px 20px 20px;
	z-index: 1000;
}

.sidenav {
	background: #4f25f7 !important;
}

.filtered-search {
	margin: 125px 0px 65px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

input {
	/*box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);*/
}

.categories {
	padding: 0;
	margin: 0;
	border-radius: 5px;
	width: 100%;
	list-style-type: none;
	background: white;
}

.categories li {
	padding: 10px;
	cursor: pointer;
  color: darkslategrey;
  font-size: 14px;
  font-weight: lighter;
}

.categories li:hover {
	transition: 100ms ease-in;
	background: #4f25f7;
	color: white;
}

.product-upload {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.product-submission {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.product-submission div {
	width: 100%;
	margin: 10px;
}

.searchable-product-list-ul {
  width: 100%;
  padding: 0;
  margin-bottom: 150px;
}

.searchable-product-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-end;
	width: 75%;
	position: relative;
	margin-top: 0px;
	left: 12%;
}

.mainpage-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
}

.landingpage {
	list-style-type: none;
  position: fixed;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  top: 300px;
  left: 0;
}

.product-li {
	list-style-type: none;
	text-decoration: none;
}

.product-title-creator {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
}

.product-title {
	margin: 15px 15px 2px 15px;
	font-size: 18px;
	text-decoration: none;
}

.product-creator {
	margin: 2px 15px 5px 15px;
	font-size: 12px;
}

.product-price-rating-purchases {
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
	width: 100%;
}

.price-rating-purchases {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin: 15px 15px 0px 15px;
}

.purchase-product-wrapper {
	margin-left: auto;
	margin-right: 15px;
}

.price-rating-purchases h5 {
	margin: 0;
}

.product-desc {
	width: 100%;
}

.product-image {
	height: 70%;
	width: 100%;
	object-fit: fill;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

.individual-product-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	width: 100%;
}

.individual-product-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 75%;
	margin: 100px 25px 150px 25px;
}

.individual-product-details {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.individual-product-image {
	width: 500px;
	height: 500px;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	border: 1px solid white;
	border-radius: 5px;
}

.individual-product-additional-details {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0px 20px 20px 30px;
}

.search-input {
	padding: 9px 0px 9px 0px;
  border: 0;
  outline: none;
  width: 100%;
}

input[type="text"] {
  padding-left: 10px;
}

input[type="text"]:focus {
  outline: none;
}

.search-submit {
	background: #4f25f7;
  color: white;
  padding: 9px 12px 9px 12px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 0;
  appearance: none;
  cursor: pointer;
  height: 100%;
  font-size: 14px;
  outline: none;
}

.search-submit:hover {
  transition: 200ms ease-in-out;
	color: lightgray;
}

.dropdown-text {
	background: #4f25f7;
	color: white;
	padding: 9px 12px 9px 12px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	cursor: pointer;
	height: 100%;
  font-size: 14px;
}

.dropdown-text:hover {
  transition: 200ms ease-in-out;
	color: lightgray;
}

.seller-settings-wrapper,
.buyers-settings-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: white;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	height: 800px;
}

.seller-selections,
.buyers-selections {
	list-style-type: none;
	width: 30%;
	height: 800px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
}

.seller-selections li,
.buyers-selections li {
	margin: 10px;
	color: white;
	width: 100px;
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 8px 15px 8px 15px;
	border: 1px solid #cecece;
	background-color: #4f25f7;
	border-radius: 5px;
	box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 20%);
	cursor: pointer;
	font-size: 14px;
}

.seller-selection-area,
.buyers-selection-area {
	width: 70%;
	height: 800px;
	border: 1px solid black;
	grid-template-rows: minmax(150px, auto);
}

.buyerAccountSettings-wrapper,
.sellerAccountSettings-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 5fr);
	grid-auto-rows: minmax(100px, auto);
	gap: 5px;
	grid-auto-rows: 50px;
}

.TOS {
	background: white;
	border: 2px solid black;
	border-radius: 5px;
	overflow: auto;
	height: 400px;
	width: 90%;
}

.bottom-tos {
	margin-top: 5em;
	font-size: 0.7em;
}

.profile-wrapper {
	height: 100vh;
}

.settings-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-nav {
	width: 100%;
	height: 75px !important;
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start !important;
	align-items: center;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.footer-navlinks {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

.footer-social {
	margin-left: auto;
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.hamburger-react {
	position: absolute !important;
	right: 10px !important;
	top: 5px !important;
	color: white !important;
}

#sidenav-menu {
	width: 300px;
	height: 92.5%;
	background-color: #4f25f7;
	position: fixed;
	bottom: 0;
	right: 0;
	transition: transform .3s cubic-bezier(0, .52, 0, 1);
	overflow: auto;
	z-index: 1000;
	box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 20%);
	border-left: 1px solid white;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

#sidenav-menu.hide {
	transform: translate3d(-25vw, 0, 0);
}

#sidenav-menu.show {
	transform: translate3d(0vw, 0, 0);
	overflow: hidden;
}

.checkout-button {
	border: 1px solid white;
	border-radius: 3px;
	color: white;
	margin: 10px;
	padding: 8px 15px 8px 15px;
	font-size: 15px;
	font-weight: normal;
	cursor: pointer;
}

.receipt-wrapper,
.summary-wrapper,
.checkout-wrapper,
.final-invoice-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.receipt-content,
.checkout-content {
	display: flex;
	flex-direction: column;
	justify-content: baseline;
	align-items: center;
	margin: 100px 15px 150px 15px;
	background-color: white;
	border-radius: 10px;
	border: 1px solid #cecece;
	box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 20%);
	width: 50%;
}

.stripe-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 85%;
}

.stripe-form-contents {
	width: 100%;
}

.summary-content,
.final-invoice-content {
	display: flex;
	flex-direction: column;
	justify-content: baseline;
	align-items: center;
	margin: 100px 15px 150px 15px;
	background-color: white;
	border-radius: 10px;
	border: 1px solid #cecece;
	box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 20%);
	width: 75%;
}

.user-receipt-info,
.user-summary,
.user-checkout,
.user-final-invoice {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.user-receipt-info h4,
.user-delivery-details h4,
.checkout-details h4,
.confirmation-details h4,
.individual-product-title {
	text-align: center;
	font-size: 16px;
}

.individual-product-description {
	text-align: center;
	font-size: 14px;
}

.user-first-last-wrapper {
	display: inline-flex;
	flex-grow: 1;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#user-firstName,
#user-lastName {
	-webkit-appearance: none;
	width: 140px;
	margin: 10px;
	box-sizing: border-box;
	height: 40px;
	padding: 10px 12px;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
	border-bottom: 1px solid #cecece;
	color: #565656;
}

.user-phone-wrapper,
.user-email-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#user-phone,
#user-email {
	width: 300px;
	margin: 10px;
	box-sizing: border-box;
	height: 40px;
	padding: 10px 12px;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
	border-bottom: 1px solid #cecece;
	color: #565656;
}

.receive-product-options {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.user-delivery-details {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0px 10px 10px 10px;
	padding: 0;
}

.user-dAddress-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#user-address {
	width: 200px;
	margin: 10px;
	box-sizing: border-box;
	height: 40px;
	padding: 10px 12px;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
	border-bottom: 1px solid #cecece;
	color: #565656;
}

#user-city {
	width: 80px;
	margin: 10px;
	box-sizing: border-box;
	height: 40px;
	padding: 10px 12px;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
	border-bottom: 1px solid #cecece;
	color: #565656;
}

#user-state {
	width: 110px;
	margin: 10px;
	box-sizing: border-box;
	height: 40px;
	padding: 10px 12px;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
	border-bottom: 1px solid #cecece;
	color: #565656;
}

#user-zip {
	width: 75px;
	margin: 10px;
	box-sizing: border-box;
	height: 40px;
	padding: 10px 12px;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
	border-bottom: 1px solid #cecece;
	color: #565656;
}

#user-unit {
	width: 75px;
	margin: 10px;
	box-sizing: border-box;
	height: 40px;
	padding: 10px 12px;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
	border-bottom: 1px solid #cecece;
	color: #565656;
}

.cancel-continue-buttons {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 25px;
}

.modify-order {
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 8px 15px 8px 15px;
	border: 1px solid #cecece;
	background-color: #4f25f7;
	border-radius: 5px;
	box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 20%);
	cursor: pointer;
	font-size: 14px;
}

.continue-order {
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 8px 15px 8px 15px;
	border: 1px solid #cecece;
	background-color: #4f25f7;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	margin: 0;
	box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 20%);
}

.product-details {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.product-detail-span {
	margin: 10px;
}

.checkout-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.confirmation-details {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.final-invoice-details {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.final-invoice-product-list {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main {
	position: relative;
}

.checkout-experience {
	position: relative;
}

.buyerInput-Settings,
.sellerSettingsInputs {
	-webkit-appearance: none;
	width: 140px;
	margin: 10px;
	box-sizing: border-box;
	height: 40px;
	padding: 10px 12px;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
	border-bottom: 1px solid #cecece;
	color: #565656;
	outline: none;
}

.sellerSettingsButtons,
.buyerSettingsButtons {
	margin: 10px;
	color: white;
	width: 100px;
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 8px 15px 8px 15px;
	border: 1px solid #cecece;
	background-color: #4f25f7;
	border-radius: 5px;
	box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 20%);
	cursor: pointer;
	font-size: 14px;
}

.sellerWorkScheduleSettings-firstContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.itemMeetingNotes {
	background-color: grey; 
	width: 50%; 
	border-radius: 6px;
	box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 20%);
	padding: 10px; 
	margin: 10px; 
}


.listsMeetingsNotes_button {
	margin: 10px;
	color: white;
	width: 100px;
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 8px 15px 8px 15px;
	background-color: red;
	border-radius: 5px;
	box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 20%);
	cursor: pointer;
	font-size: 14px;
}


.btn-scale {
	min-width: 44px;
	width: 6%;
	text-align: center;
	font-weight: bold;
	color: black;
	font-family: 'Lato', sans-serif;
  }
  
  .btn-scale-asc-1, .btn-scale-desc-10 {
	background-color: #33FF00;
  }
  
  .btn-scale-asc-1:hover,
  .btn-scale-desc-10:hover {
	background-color: #2CDE00;
  }
  
  .btn-scale-asc-2,
  .btn-scale-desc-9{
	background-color: #66FF00;
  }
  
  .btn-scale-asc-2:hover,
  .btn-scale-desc-9:hover{
	background-color: #59DE00;
  }
  
  .btn-scale-asc-3,
  .btn-scale-desc-8 {
	background-color: #99FF00;
  }
  
  .btn-scale-asc-3:hover,
  .btn-scale-desc-8:hover {
	background-color: #85DE00;
  }
  
  .btn-scale-asc-4,
  .btn-scale-desc-7 {
	background-color: #CCFF00;
  }
  
  .btn-scale-asc-4:hover,
  .btn-scale-desc-7:hover {
	background-color: #B1DE00;
  }
  
  .btn-scale-asc-5,
  .btn-scale-desc-6 {
	background-color: #FFFF00;
  }
  
  .btn-scale-asc-5:hover,
  .btn-scale-desc-6:hover {
	background-color: #DEDE00;
  }
  
  .btn-scale-asc-6,
  .btn-scale-desc-5 {
	background-color: #FFCC00;
  }
  
  .btn-scale-asc-6:hover,
  .btn-scale-desc-5:hover {
	background-color: #DEB100;
  }
  
  .btn-scale-asc-7,
  .btn-scale-desc-4 {
	background-color: #FF9900;
  }
  
  .btn-scale-asc-7:hover,
  .btn-scale-desc-4:hover {
	background-color: #DE8500;
  }
  
  .btn-scale-asc-8,
  .btn-scale-desc-3 {
	background-color: #FF6600;
  }
  
  .btn-scale-asc-8:hover,
  .btn-scale-desc-3:hover {
	background-color: #DE5900;
  }
  
  .btn-scale-asc-9,
  .btn-scale-desc-2 {
	background-color: #FF3300;
  }
  
  .btn-scale-asc-9:hover,
  .btn-scale-desc-2:hover {
	background-color: #DE2C00;
  }
  
  .btn-scale-asc-10,
  .btn-scale-desc-1 {
	background-color: #FF0000;
  }
  
  .btn-scale-asc-10:hover,
  .btn-scale-desc-1:hover {
	background-color: #DE0000;
  }



.Profile-header {
	background-color: grey; 
	width: 100%; 
	height: 30%; 
}

.ProfileAvatar {
	margin-top: 80px; 
	width: 250px;
	height: 250px;
	margin-left: auto; 
	margin-right: auto; 
	border-radius: 50%;
	border: 5px solid whitesmoke;
	
}

.secondHeaderContainerProfile {
	margin: auto;
	width: 30%;
	padding: 10px;
}

.ProfileAvatarSettings {
	width: 100px;
	height: 100px;
	margin-left: auto; 
	margin-right: auto; 
	border-radius: 50%;
	opacity: 1;
	transition: .5s ease;
	backface-visibility: hidden;
	margin-left: 10px; 
}

.containerProfileAvatarSettings {
	position: relative;
	width: 50%;
}

.ProfileAvatarSettingsMiddle {
	transition: .5s ease;
	opacity: 0;
	position: absolute; 
	top: 50%;
	left: 20%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}


.containerProfileAvatarSettings:hover .ProfileAvatarSettings {
	opacity: 0.3;
}
  
.containerProfileAvatarSettings:hover .ProfileAvatarSettingsMiddle {
	opacity: 1;
}