body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.navigation-links {
  margin-left: auto;
}

.nav-link {
  text-decoration: none;
  margin: 10px;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-navlink {
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  width: 150px;
}

.frontend-links, .backend-links, .fullstack-links {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-member-image {
  width: auto;
  height: 250px;
}

.preview-img {
  width: 150px;
  height: 150px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.nav-img {
  width: 50px;
  height: 50px;
}

.navigation-icons {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sidenav {
  background: #4f25f7 !important;
}

.filtered-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-button-search {
  position: relative;
  z-index: 1000;
  display: flex;
  flex-direction: row;
}

.categories {
  position: absolute;
  top: 35px;
  z-index: 1;
  padding: 0;
  margin: 0;
  border: 1px solid black;
  border-radius: 2px;
  width: 100%;
  list-style-type: none;
  background: white;
}

.categories li {
  padding: 10px;
  cursor: pointer;
}

.categories li:hover {
  transition: 100ms ease-in;
  background: #4f25f7;
  color: white;
}

.product-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-submission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.product-submission div {
  width: 100%;
  margin: 10px;
}

.searchable-product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
  border: 1px solid grey;
  border-radius: 5px;
  background: #4f25f7;
  width: 30%;
  height: 400px;
  margin: 10px;
}

.product-title-price {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.product_title-price h3 {
  margin-left: 5px;
}

.product-title-price h5 {
  margin-left: auto;
  margin-right: 5px;
}

.product-desc {
  width: 100%;
}

.product-image {
  height: 60%;
  width: 100%;
}

.searchbar-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 300px;
    height: 31px;
    /* border-radius: 5px; */
    border: 1px solid #2e1667;
}

.search-input::placeholder {
  padding-left: 10px;
}

.search-submit {
  background: #4f25f7;
  color: white;
  padding: 9px 12px 9px 12px;
  border: 1px solid #2e1667;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  height: 35px;
}

.dropdown-text {
  background: #4f25f7;
  color: white;
  padding: 9px 12px 9px 12px;
  border: 1px solid #2e1667;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  height: 35px;
}

.seller-settings-wrapper, .buyers-settings-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.seller-selections, .buyers-selections {
  width: 30%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.seller-selection-area, .buyers-selection-area {
  width: 70%;
  height: 500px;
  border: 1px solid black;
}